.about-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-container::before,
.about-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
}

.about-container::before {
  background: var(--bg-cream);
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%231e6fd9' fill-opacity='0.03'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  top: 0;
}

.about-container::after {
  background: var(--white-color);
  bottom: 0;
}

.about-container .about {
  z-index: 1;
  background-color: var(--white-color);
  flex: 1;
  padding: 6.4rem;
  border: 1px solid #e6e8eb;
  box-shadow: 0px 24px 80px 0px rgba(31, 41, 55, 0.08);
  max-width: 1448px;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  border-radius: 8px;
}

.about-content {
  display: flex;
  gap: 4rem;
}

.about-img-parent {
  max-width: 32rem;
  min-width: 26rem;
}

.about-img {
  height: 100%;
  width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.about-text-content {
  flex: 1;
  color: var(--text-color-1);
}

.about-name {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4rem;
  font-family: var(--heading-font);
  color: var(--text-color-1);
}

.about-desc {
  color: var(--text-color-2);
  line-height: 2.6rem;
  margin-block: 1.6rem;
  font-size: 1.6rem;
}

.about-btn-wrapper {
  display: flex;
  gap: 1.6rem;
  margin-top: 2.4rem;
  flex-wrap: wrap;
}

.featured-container {
  padding: 2.4rem 4rem;
  border: 1px solid var(--primary-shade-color);
  background: var(--primary-shade-color);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  flex-direction: column;
}

.featured-heading {
  color: var(--text-color-1);
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  white-space: nowrap;
  text-align: center;
}

.featured-wrapper {
  display: flex;
  align-items: center;
  gap: 4rem;
  flex-wrap: wrap;
  justify-content: center;
}

.featured-wrapper img {
  height: 8rem;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  object-fit: contain;
}

.featured-wrapper img:hover {
  opacity: 1;
}

@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about-btn-wrapper {
    justify-content: center;
  }

  .featured-container {
    gap: 2rem;
    text-align: center;
  }

  .featured-wrapper {
    gap: 2rem;
  }

  .about-container .about {
    padding: 4rem 2.4rem;
  }
}
